<h3>User info</h3>
  <h3>name<%=@user.name%></h3>
  <h3>introduction<%=@user.introduction%></h3>
  <%# image_tag @user.get_profile_image(100,100) %>

  
  <%=link_to"edit",edit_user_path(@user)%>
  
  

<h2>New Book</h2>
<%=form_with model:@book do |f| %>

<div class="form_group">
  <label for="book_title">Title</label>
  <%=f.text_field:title%><br/>
</div>

<div class="form_group">
  <label for="book_opinion">Opinion</label>
  <%=f.text_area:title%><br/>
</div>



<div class="form_group">
  <%=f.submit'CreateBook'%>
</div>

<%end%>




<h2>Users</h2>

<table class="table">
<thead>
  <tr>
  <th>image</th>
  <th>name</th>
  <th colspan="3"></th>
  </tr>
  </thead>
<%@users.each do |user|%>

<tbody>
  <tr>
    <td><%=image_tag user.get_profile_image(100,100) %></td>
    <td>><%=user.name%></td>
    <td><%=link_to"show",user_path(user)%></td>
  </tr>
</tbody>
<%end%>
</table>









 