<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
<% end %>


<%=render 'list', users: @user, book:  @newbook %>




<h2>Book datail</h2>
<table class="table">
 <tbody>
     <tr>
         <td> <%=link_to image_tag(@book.user.get_profile_image(100,100)),user_path(@book.user) %></td>
         <td><%=link_to @book.user.name,user_path(@book.user)%></td>
         <td><%=link_to @book.title,book_path(@book)%></td>
         <td><%=@book.body%></td>
         <td><%link_to"Edit",edit_book_path(@book)%></td>
         <% if @book.user==current_user%>
          <td><%=link_to"Edit",edit_book_path(@book)%></td>
         <td><%=link_to"destroy",book_path(@book),method: :delete%></td>
         </td>
         <%end%>
     </tr>
 </tbody>
 </table>

